DBURL=mongodb://ahsannaveedpsplus2_db_user:Ahsan123@ac-jbuuooz-shard-00-00.xlwcnem.mongodb.net:27017,ac-jbuuooz-shard-00-01.xlwcnem.mongodb.net:27017,ac-jbuuooz-shard-00-02.xlwcnem.mongodb.net:27017/?ssl=true&replicaSet=atlas-qb9li0-shard-0&authSource=admin&retryWrites=true&w=majority
PORT=8000
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=ahsan-kboard
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=ahsan-kboard
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=hd1yjhrp
CLOUDINARY_API_KEY=624729882741384
CLOUDINARY_API_SECRET=O8wedAZP3eZSd7I2BtMu95e_M6Q